
footer {
    background-color: white;
    height: 5rem;
}

#header-container {
    position: fixed;
    top: 0;
    height: 5rem;
    background-color: white;
    width: 100%;
    transition: top 400ms ease 200ms;
    -moz-transition: top 400ms ease 200ms;
    -webkit-transition: top 400ms ease 200ms;
    -o-transition: top 400ms ease 200ms;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    z-index: 1;
}

.flexBody {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    min-height: -moz-calc(100vh - 7rem);
    min-height: -webkit-calc(100vh - 7rem);
    min-height: calc(100vh - 7rem);
    margin-top: 7rem;
}

main {
    position: relative;
    flex: 1;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    margin-bottom: 16px;
}

#header-content {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: auto;
    height: 100%;
}

.top-logo {
    min-width: 98px;
    margin-right: 2rem;
}

.top-logo img{
    width: 98px;
}

img {
    width: auto;
    height: auto;
}

.top-nav {
    flex: 1 0 auto;
    height: 100%;
}

.top-nav-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    position: relative;
}

.top-nav-content .top-menu {
    font-size: 1.6rem;
}

.top-nav-content .top-menu>ul {
    display: flex;
    align-items: center;
}

.top-nav-content .top-menu>ul>li {
    height: 5rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav-content .top-menu>ul>li>a:hover {
    color: #007fff;
}

.top-nav-content .top-search {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    padding: 0 1.2rem;
    height: 100%;
    align-items: center;
}

.top-nav-content .top-search .top-form {
    display: flex;
    align-items: center;
    border: 1px solid hsla(0, 0%, 59.2%, 0.2);
    background-color: rgba(227, 231, 236, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}

.top-nav-content .top-search .form-active{
   border-color: #007fff;
}

.top-nav-content .top-search input {
    border: none;
    width: 8rem;
    padding: 0.6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.4rem;
    color: #666;
    background-color: transparent;
}

.top-nav-content .search-button {
    padding: 0 0.5rem;
    cursor: pointer;
}

.top-nav-content .write {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
}

@media (max-width: 980px) {
    .top-nav-content .write {
        display: none;
    }
}

.top-nav-content .write button {
    padding: 0.5rem 0.9rem;
    background-color: #007fff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-nav-content .write button:hover {
    background-color: #0365c7e0;
}

.top-nav-content .message {
    font-size: 2.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
    cursor: pointer;
}

.top-nav-content .message:hover>a {
    color: #007fff;
}

.user{
    padding: 0 0 0 1.2rem;
    cursor: pointer;
}

.user .menu{
    width: 13rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(177,180,185,.45);
    border-radius: 4px;
    font-size: 1.6rem;
}

.user .menu .item-group{
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,.04);
}

.user .menu .item-group .item{
    font-size: 1.6rem;
    cursor: pointer;
}

.user .menu .item-group .item:hover{
    background-color: hsla(0,0%,94.9%,.5);
}

.user .menu .item-group .item a{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #71777c;
}

.user .menu .item-group .item i{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    vertical-align: middle;
    color: #b2bac2;
}

.user .menu .item-group .item span{
    margin-left: 0;
    flex-grow: 1;
}

.article-left{
    position: fixed;
    margin-left: -7rem;
    top: 16rem;
    z-index: 400;
}

.article-left .panel-btn{
    position: relative;
    margin-bottom: .75rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(178, 185, 194);
    cursor: pointer;
}

.article-left .back{
    background-size: 60% 60%;
    background-image: url("../assets/img/back.svg")
}

.article-left .good{
    background-size: 60% 60%;
    background-image: url("../assets/img/good.svg")
}
.article-left .gooded{
    background-size: 60% 60%;
    background-image: url("../assets/img/gooded.svg")
}

.article-left .collect{
    background-image: url("../assets/img/collect.svg")
}
.article-left .collected{
    background-image: url("../assets/img/collected.svg")
}

.list-container {
    background-color: #fff;
    margin-right: 21.667rem;
    border-radius: 2px;
    width: 700px;
    min-height: 75vh;
}

@media(max-width:960px) {
    .list-container {
        width: 100%;

    }
}

.list-container .inner-html {
    padding: 1.6rem;
    font-size: 1.6rem;
}

.list-container .inner-html a {
    color: blue;
    text-decoration: underline;
}

.list-container>header {
    padding: 1rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
}

.list-container>header>nav>ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
}

.list-container>header>nav>ul>li {
    padding: 0 1.2rem;
    border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
    cursor: pointer;
}

.list-container>header>nav>ul>li:hover>a {
    color: #007fff;
}

.list-container>header>nav>ul>li:last-child {
    border-right: none;
}


.homelist {
    width: 100%;
}

.homelist>li:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.homelist-item {
    border-bottom: 1px solid rgba(178, 186, 194, 0.15);
}

.homelist .homelist-item .item-container {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

.item-container .list-item-left {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.item-container .list-item-right {
    flex: 0 0 auto;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    border-radius: 2px;
    /* background-image: url(https://user-gold-cdn.xitu.io/2019/3/27/169bb255233ce443?imageView2/1/w/120/h/120/q/85/format/webp/interlace/1); */
    background-size: cover;
    background-repeat: no-repeat;
}

.item-meta>ul {
    display: flex;
    align-items: baseline;
}

.item-meta>ul>.meta-hot {
    color: red;
}

.item-meta>ul>.meta-type {
    color: #b71ed7;
}

.item-meta>ul>li:not(:last-child):after {
    content: "·";
    color: rgb(178, 186, 194);
    margin: 0px 0.4em;
}

.item-title {
    margin: 0.5rem 0 1rem;
    white-space: nowrap;
}

.item-title>div {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #2e3135;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-action>ul {
    display: inline-flex;
    white-space: nowrap;
}

.item-action>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2rem;
    font-size: 1.083rem;
    line-height: 1;
    white-space: nowrap;
    color: #b2bac2;
    border-radius: 1px;
    border: 1px solid #edeeef;
    border-right: none;
}

.item-action>ul>li:last-child {
    border: 1px solid #edeeef;
}

.item-action>ul>li>div {
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    height: 100%;
}

.item-action .goodSum {
    color: #b2bac2;
    margin-left: 0.2em;
    font-weight: 700;
}

.item-action .goodSum.active{
    color: #6cbd45;
}

.item-action>ul>li>:hover {
    background-color: #f7f8fa;
}

.homeaside,
.article-aside {
    background-color: #fff;
    width: 20rem;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 960px) {

    .homeaside,
    .article-aside {
        display: none;
    }
}

.homeaside-header,
.article-aside-header {
    color: #333333;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    font-size: 14px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeaside-list {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.homeaside-list>a {
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f3f6f3;
    cursor: pointer;
    height: 30px;
    color: #333333;
    line-height: 30px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 30px;
}

.article-aside-list>a {
    display: block;
    padding: 0.8rem 1.3rem;
}

.article-aside-list>a:hover {
    background-color: hsla(0, 0%, 85.1%, .1);
}

.article-aside-list .meta-title {
    font-size: 1.4rem;
    color: #333333;
}

.article-aside-list .meta-box {
    margin-top: 0.4rem;
}

.article-aside-list .meta-box .meta {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    color: #c2c2c2;
}

.article-aside-list .meta-box .meta>img {
    vertical-align: sub;
}

.article-aside-list .meta-box .meta>span {
    color: #b2bac2;
    margin-left: 0.4rem;
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .65);
    z-index: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* css绘制关闭按钮 */
.close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 3%;
    cursor: pointer;
}

.close::before,
.close::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 100%;
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 2px;
}

.close:hover::before,.close:hover::after{
    border-top-color: #000000b0;
}

.close::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(-45deg);
}



.modal-container {
    position: relative;
    background-color: white;
    width: 640px;
    margin: 0 auto;
    top: 20%;
    border-radius: 2px;
}

.modal-header {
    display: flex;
    height: 3.333rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #17181a;
    font-weight: 500;
}

.modal-body {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal-editor {
    font-size: 1.8rem;
    width: 100%;
    min-height: 75px;
    max-height: 136px;
    padding: 5px;
    background-color: rgba(226, 230, 235, .2);
    border-radius: 2px;
    border: 1px solid hsla(0, 0%, 59.2%, .2);
    resize: none;
}

.modal-sum-count {
    position: absolute;
    padding: 0.5rem;
    color: #a1a9b3;
}

.modal-bottom {
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #007fff;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 0.6rem 1.5rem;
    outline: none;
    transition: background-color .3s, color .3s;
    cursor: pointer;
    margin: 10px 20px;
}

.modal-button.not-allowed {
    opacity: 0.2;
    cursor: not-allowed;
}